.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 12px double #000000;
}

.buttons {
    display: flex;
}

/* Back button styling */
.button1 {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #323233;
    color: white;
    border: none;
    cursor: pointer;
}

/* Dark mode button styling */
.modebutton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

/* The styling for the blog posts */
.card {
    flex: 1 0 90%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
}